.contacts
    a.contact(href="tel: +38063044222")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text +38063044222

    a.contact(href="mailto: slavachuval@gmail.com")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text slavachuval@gmail.com

    a.contact(href="https://www.facebook.com/fiorebiancoknitwear/")
        i.fa.fa-facebook.facebook-icon(aria-hidden="true")

    a.contact(href="https://www.instagram.com/fiore_bianco_knitwear/?hl=ru")
        i.fa.fa-instagram.instagram-icon(aria-hidden="true")