.container{
  display: block;
}

.container_hero{
  display: inline-block;

}

.sidebar{
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 20px 0;
  width: 13%;
  height: auto;
  min-height: 700px;
  letter-spacing: 0.1rem;
  color: white;
  background-color: #424242;

  @media (max-width: 1000px) {
    display: none;
  }
}

.sidebar-menu{
  color: white;
  padding: 10px;
  list-style: none;

  &:hover {
    color: darken(white,30%);
    transition: 2s;
    cursor: pointer;
  }

  .list--choice{
    margin-left: 10px;
    margin-right: 2px;

  }
}

.hero{
  display: inline-block;
  position: relative;
  margin-left: 1%;
  width: 85%;
  min-height: 700px;
  color: white;
  padding: 0;

  .hero-img{
    display: none;
    width: 100%;
    max-height: 700px;
    transition: 5s;
  }

  &:first-child{
    display: block;
  }

  &:after{
   @include centerer-x();
    content: '';
    bottom: -16px;
    width: 50px;
    height: 5px;
    background: #424242;
  }

  @media (max-width: 999px) {
    display: block;
    width: 95%;
    padding: 120px;
    margin: auto;
  }
}
